*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: rgb(214, 214, 214);
}
.all .title{
    text-align: center;
    margin-top: 30px;
}
.all .first{
position: relative;;
}
.all .title h1{
    font-size: 50px;
}
.all .title p{
    font-style: italic;
    padding-top: 10px;
}
.all .adverts .first{
    display: flex;
}
.all .adverts .first .shipping{
    position: absolute;
    left: 0%;
    width: 30%;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
    background-color: white;
    height:250px;
    margin-right: 30px;
    

}
.all .adverts .first .shipping h1{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: lighter;
}
.all .adverts .first .shipping h2{
    font-size: 50px;
    color: teal;
    padding-top: 20px;
}
.all .adverts .first .access{
    position: absolute;
    left: 33%;
    width: 30%;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
    background-color: white;
    height: 250px;
    margin-right: 30px;

}
.all .adverts .first .access h1{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: lighter;
}
.all .adverts .first .access h2{
    font-size: 50px;
    color: brown;
    padding-top: 20px;
}
.all .adverts .first .shop{
    position: absolute;
    left: 66%;
    width: 30%;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
    background-color: white;
    height: 250px;
    margin-right: 30px;

}
.all .adverts .first .shop h1{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: lighter;
}
.all .adverts .first .shop h2{
    font-size: 50px;
    color: rgb(252, 252, 77);
    padding-top: 20px;
}
.all .adverts .second .range {
    position: absolute;
    left: 0%;
    top: 55%;
    width: 30%;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
    background-color: white;
    height: 250px;
    margin-right: 30px;
    

}
.all .adverts .second .range h1{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: lighter;
}
.all .adverts .second .range h2{
    font-size: 50px;
    color:violet;
    padding-top: 20px;
}
.all .adverts .second .pricing {
    position: absolute;
    left: 33%;
    top: 55%;
    width: 30%;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
    background-color: white;
    height: 250px;
    margin-right: 30px;
    

}
.all .adverts .second .pricing h1{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: lighter;
}
.all .adverts .second .pricing h2{
    font-size: 50px;
    color:navy;
    padding-top: 20px;
}
.all .adverts .second .service {
    position: absolute;
    left: 66%;
    top: 55%;
    width: 30%;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
    background-color: white;
    height: 250px;
    margin-right: 30px;
    

}
.all .adverts .second .service h1{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: lighter;
}
.all .adverts .second .service h2{
    font-size: 50px;
    color:rgb(150, 31, 31);
    padding-top: 20px;
}
.all .third button{
    position: absolute;
    left: 44%;
    top: 95%;
    width: 170px;
    height: 30px;
    background-color: rgb(252, 170, 77);
    color: white;
    border: none;
    cursor: pointer;
}
.all .third button:hover{
    width: 190px;
    height: 35px;
}



