*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: rgb(221, 220, 220);
}

.all .title{
    text-align: center;
    
    
}
@font-face{
    font-family: newFont;
    src: url(../fonts/Inconsolata-Medium.ttf)
}
.all .title h1{
    font-family:newFont;
    font-size: 50px;
    
}
.all .title p{
    font-style: italic;
    font-size: 17px;
    margin-top: 10px;
    font-weight: bold;
}
.all .layouts{
    margin-top: 30px;
    margin-left: 30px;
}
.all .layouts .up{
    display: flex;
    
}
.all .layouts .u-first{
    width: 30%;
    
    height: 300px;
    font-family: sans-serif;
    background-color: rgb(49, 190, 167);
    color: white;
    padding-left: 20px;
    margin-left: 20px;
    

    
}
.all .layouts .u-first h1{
    padding-top: 20px;
}
.all .layouts .u-first h3{
    margin-top: 20px;
}
.all .layouts .u-first p{
    margin-top: 20px;
    padding-bottom: 30px;
}
.all .layouts .u-first a{
   color: white;
   
   position: relative;
}
.all .layouts .u-second{
    width: 30%;
    border: 1px solid black;
    height: 300px;
    
    padding-left: 20px;
    text-align: center;
    background-color: white;
}
.all .layouts .u-second h1{
    font-size: 80px;
    color: grey;
    padding-top: 90px;
    
    
}
.all .layouts .u-third{
    width: 30%;
    border: 1px solid black;
    height: 300px;
    font-family: sans-serif;
    background-color: rgb(240, 186, 10);
    color: white;
    padding-left: 20px;
}
.all .layouts .u-third h1{
    padding-top: 20px;
}
.all .layouts .u-third h3{
    margin-top: 20px;
}
.all .layouts .u-third p{
    margin-top: 20px;
    padding-bottom: 30px;
}
.all .layouts .u-third a{
   color: white;
   
   position: relative;
}   
.all .layouts .down{
    display: flex;
    
}
.all .layouts .d-first{
    width: 30%;
    border: 1px solid black;
    height: 300px;
    background-color: white;
    
    margin-left: 20px;
    text-align: center;
}
.all .layouts .d-first h1{
    font-size: 80px;
    color: grey;
    padding-top: 90px;
    
}
.all .layouts .d-second{
    width: 30%;
    border: 1px solid black;
    height: 300px;
    font-family: sans-serif;
    background-color: rgb(79, 79, 255);
    color: white;
    padding-left: 20px;
    
}
.all .layouts .d-second h1{
    padding-top: 20px;
}
.all .layouts .d-second h3{
    margin-top: 20px;
}
.all .layouts .d-second p{
    margin-top: 20px;
    padding-bottom: 30px;
}
.all .layouts .d-second a{
   color: white;
   
   position: relative;
}
.all .layouts .d-third{
    width: 30%;
    border: 1px solid black;
    height: 300px;
    background-color: white;
    text-align: center;
}
.all .layouts .d-third h1{
    font-size: 80px;
    color: grey;
    padding-top: 90px;
    
}


    

