*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: myFont , sans-serif ;
}
@font-face{
    font-family: myFont;
    src: url(../Fonts/Nunito-Bold.ttf);
}
.col-6{
    width: 50%;
}

body{
    background-image: url(../images/city-orange.jpg);
}
.top {
    margin-top: 30px;
    display: flex;
    width: 100%;
}
.top .logo{
    
    padding-left: 60px;
    
}
.top .logo h1{
    color: rgb(255, 255, 255);
    font-weight: bold;
    
}

.top .navigation ul li{
    display: inline-block;
    margin-left: 10px;
   
    
}
.top .navigation a{
    color: white;
    text-decoration: none;
}
.top .navigation select{
    border: none;
    background: transparent;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
.top .navigation a:hover{
    color: teal;
}
.top .navigation select:hover{
    color: teal;
}
.content{
    margin-top: 150px;
    display: flex;
    
}
.content .left-content{
    padding-left: 150px;
    
}
.content .left-content h1{
    color: white;
    font-size: 60px;
}
.content .left-content h2{
    margin-top: 50px;
    color: white;

    
}
.content .left-content button{
    margin-top: 50px;
    width: 150px;
    height: 50px;
    border-radius: 100px;
    background-color: transparent;
    color: white;
    border-color: white;
    cursor: pointer;
    position: relative;
}
.content .left-content button:hover{
    background-color: teal;
    transition: 0.7s;
}
.content .right-content{
    margin-left: 20px;
    padding-left: 30px;
    padding-top: 30px;
    background-color: rgb(231, 240, 255);
    width: 500px;
    height: 400px;
}
.content .right-content input{
     display: inline-block;
     padding-left: 10px;
     font-size: 20px;
     
     padding-top: 8px;
     margin-top: 20px;  
     
}
.content .right-content select{
    color: grey;
    margin-top: 20px;
    width: 430px;
    padding-top: 10px;
    font-size: 20px;

}
.content .right-content button{
    background-color: rgb(255, 130, 57);
    font-size: 15px;
    width: 300px;
    border-radius: 100px;
    margin-top: 10px;
    margin-left: 70px;
    color: white;
    height: 40px;
    cursor: pointer;
    
}





    
